/*
https://fonts.google.com/specimen/Patrick+Hand?category=Handwriting&sidebar.open=true&selection.family=Patrick+Hand
*/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Patrick Hand', cursive;
}

header {
    font-size: 3em;
    color: white;
    background-color: #de1241
}

.flex-evenly {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.container {
    width: 100%;
    max-width: 800px;
}

.tile-wrapper {
    width: 25%;
    padding: 10px;
}

.tile-wrapper:before {
    content: "";
    float: left;
    padding-top: 100%; /* 1:1 Aspect Ratio */
}

.tile-content {
    height: 100%;

    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    color: gold;

    background-color: #de1241;

    border-radius: 5px;
}

#popup {
    display: none;
    top: 3em;
    position: absolute;
    width: 100%;
}

#popup-close {
    position: relative;
    float: right;
    cursor: pointer;
}

#popup-content {
    max-width: 500px;
    background: beige;
    border-radius: 25px;
    margin: 30px;
    padding: 30px;
}
